<panel title="Cadastro de Pesquisas" linkback="pesquisas">
    <div class="input-group input-group-lg grupo-busca">
        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="busca" aria-describedby="sizing-addon1" ng-model="filtro">
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Validade</th>
                <th>Ativo</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pesquisa in listaPesquisas | filter:filtro">
                <td>{{pesquisa.id}}</td>
                <td>{{pesquisa.nome}}</td>
                <td>{{pesquisa.desc}}</td>
                <td>{{pesquisa.validade | date:'dd-MM-yyyy'}}</td>
                <td><i class="fa" ng-class="{'fa-check-circle':(pesquisa.validade > newDate), 'fa-times': (pesquisa.validade <= newDate)}"></i></td>
                <td> <span class="btn btn-info btn-xs" ng-click="visualizarVoluntario(voluntario)"><i class="fa fa-search" aria-hidden="true"></i></span></td>
            </tr>
        </tbody>
    </table>
</panel>
